/* Globals */

* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 40px;
  padding-left: 50px;
  font-weight: 400;
}

.container {
  margin: 0px auto;
  width: 300px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding-left: 80px;
  height: 120px;
  border-bottom: solid 1px #e5e5e5;
  margin-bottom: 250px;
}

.logo {
  width: 50px;
  height: 60px;
  color: #5c48d3;
}

/* Main */

main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 30px;
}

.counter {
  padding: 20px 25px;
  background-color: #5c48d3;
  color: white;
  border-radius: 10px;
  font-size: 40px;
}

.reset {
  background-color: #5c48d3;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 6px 12px;
  font-weight: 600;
}

.reset:hover {
  cursor: pointer;
}

.operator {
  font-size: 30px;
}

.operator:hover {
  cursor: pointer;
}
/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
}

span {
  font-weight: bold;
}
